@font-face {
    font-family: "Avenir Roman";
    src: url(img/avenir-roman.ttf);
}

*{
    margin: 0;
    padding: 0;
    /* background-color: #040714; */
}
 
body{
    margin-top: 30px;
    color: #f9f9f9;
    background: url('https://cannonball-cdn.bamgrid.com/assets/originals/5BrandsNew_Desktop_BPO_(1)-1.jpg') no-repeat top center;
    background-size: 100%;
    background-color: #040714;
}

.logo{
    max-width: 180px;
}

.container-herois{
    padding-left: 45px;
    margin-top: 115px;
    margin-bottom: 100px;

    /* display: grid;
    align-items: center;
    justify-content: center; */
}


.franchise{
    margin-top: 30px;
    max-width: 600px;
}

.container-preços{
    display: flex;
    margin: 20px;
    margin-left: 0;
}

.mensal{
    width: 350px;
    margin-right: 35px;
}

.mensal span{
    font-size: 35px;
    font-weight: 400;   
}

.mensal button{
    width: 700px;
    height: 60px;
    margin-top: 50px;
    background-color: #0063E5;
    color: #f9f9f9;
    border: 1px solid transparent;
    letter-spacing: .8px;
    font-size: 17px;
    padding: 11.5px 12px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    font-weight: 400;   
}

.anual{
    width: 250px;   
}

.anual span{
    font-size: 35px;
}

.anual button{
    width: 700px;
    height: 60px;
    margin-top: 8px;
    background-color: #0063E5;
    color: #f9f9f9;
    border: 1px solid transparent;
    letter-spacing: .8px;
    font-size: 17px;
    padding: 11.5px 12px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    font-weight: 400;
}

button{
text-decoration: none;
max-width: 324px;
height: 50px;
}


h4{
    font-size: 12px;
    margin-bottom: 40px;
}

h1{
    font-family: "Avenir Roman", sans-serif;
    font-size: 40px;
    max-width: 400px;
    line-height: 50px;
    color: #f9f9f9;
}


.container-premier{
    background-color: #040714;
    display:flex;
    margin-bottom: 50px;
}

.img-premier{
    margin-top: 100px;
    margin-left: 35px;

}

.descricao-premier{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-left: 35px;
}

.img-premier img{
    max-height: 383px;
}

.descricao-premier h1{
    font-size: 35px;
}

.descricao-premier p{
    font-size: 18px;
    color: hsla(0,0%,75.3%,.8);
}

.descricao-premier a{
    color: #f9f9f9;
}


.descricao-premier button{
    width: 700px;
    height: 60px;
    margin-top: 135px;
    background-color: #0063E5;
    color: #f9f9f9;
    border: 1px solid transparent;
    letter-spacing: .8px;
    font-size: 17px;
    padding: 11.5px 12px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    font-weight: 400;   
}

.container-devices{
    background-color: #040714;
    display:flex;
    margin-bottom: 100px;
}

.img-devices{
    margin-top: 100px;
    margin-left: 75px;
}

.descricao-devices{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    margin-left: 35px;
}

.img-devices img{
    max-height: 403px;
    margin-left: 30px;
}

.descricao-devices h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.descricao-devices p{
    font-size: 19px;
    max-width: 400px;
    color: hsla(0,0%,75.3%,.8);
}

.container-exclusives{
    background-color: #040714;
    margin-bottom: 100px;
    margin-left: 12px;
}

.img-exclusives{
    display: inline;
}

.descricao-exclusives{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-exclusives img{
    max-width: 320px;
    margin: 12px;
    border-radius: 4px;
}

.descricao-exclusives h1{
    font-size: 35px;
    max-width: 600px;
    justify-content: center;
}

.descricao-exclusives p{
    font-size: 18px;
    color: hsla(0,0%,75.3%,.8);
}

.container-exclusives button{
    width: 700px;
    height: 60px;
    margin-top: 150px;
    margin-left: 355px;
    background-color: #0063E5;
    color: #f9f9f9;
    border: 1px solid transparent;
    letter-spacing: .8px;
    font-size: 17px;
    padding: 11.5px 12px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    font-weight: 400;
}

.container-download{
    background-color: #040714;
    margin: 24px;
    display: inline-block;
    position: relative;
}

.container-download h1{
    font-size: 33px;
    position: absolute;
    top: 170px;
    margin-left: 500px;
}

.container-download p{
    font-size: 23px;
    position: absolute;
    top: 230px;
    margin-left: 500px;
    width: 510px;
    color: hsla(0,0%,75.3%,.8);
}

.container-download img{
    max-width: 1020px;
}



.container-diversao{
    background-color: #040714;
    margin-bottom: 100px;
    margin-left: 12px;
}

.img-diversao{
    display: inline;
}

.descricao-diversao{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-diversao img{
    max-width: 320px;
    margin: 12px;
    border-radius: 4px;
}

.descricao-diversao h1{
    font-size: 35px;
    max-width: 350px;
    margin-left: 265px;
}

.descricao-diversao p{
    font-size: 18px;
    max-width: 900px;
    color: hsla(0,0%,75.3%,.8);
}
